:host {
    display: block;
}

.layout {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.burger {
    padding: 0 var(--space5);
    cursor: pointer;
}

.titleTemplate {
    color: var(--whiteSmock);
}
